<div class="wrapper">
    <div class="header">
        <div class="bg-surface-0 dark:bg-surface-950 py-8">
            <div class="flex items-start flex-col md:justify-between md:flex-row">
                <div>
                    <div class="font-bold text-3xl text-surface-900 dark:text-surface-0 mb-4">Hej Mads</div>
                    <div class="flex items-center text-surface-700 dark:text-surface-300 flex-wrap gap-8">Welcome back.
                        Your login was on August 29 at 10:24</div>
                </div>
                <div class="icons">
                    <p-button icon="pi pi-filter" aria-label="Filter" severity="secondary" class="mr-2" />
                    <p-button icon="pi pi-download" aria-label="Save" severity="secondary" class="mr-2" />
                    <p-button icon="pi pi-file" aria-label="Apps" severity="secondary" class="mr-2" />
                    <p-button icon="pi pi-plus" aria-label="Add" severity="secondary" />
                </div>
            </div>
        </div>
    </div>

<app-grid></app-grid>
</div>